<!doctype html><html lang="zh-cmn-Hans"><head><meta charset="UTF-8"><meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome"><meta name="keyword" content=""><meta name="description" content=""><title>移动端 组件</title><meta viewport-fit="cover"/><script>;(function () {
      var phoneScale = parseInt(window.screen.width) / 750
      document.write('\<meta name="viewport" content="width=750, minimum-scale=' + phoneScale +
        ', maximum-scale=' + phoneScale + ', user-scalable=no">')
    })()</script><link href="../components/radio.css" rel="stylesheet"></head><body><div id="app"></div><script src="../components/radio.js"></script></body></html>