@import "../../style/global.scss";

$rootName: x-input;

.#{$rootName}-wrap {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: #fff;

  .#{$rootName} {
    width: 100%;
    padding: $padding-y-large $padding-x-small;
    border-width: 0;
    border-radius: $border-radius;
    &-clear {
      margin-right: $margin-x-small;
      color: $placeholder-color;
    }
  }
}