@import "../../style/global.scss";

$rootName: x-popup;

.#{$rootName} {
  position: relative;
  z-index: -1;

  &&-visible {
    z-index: 1000;
  }

  &-modal {
    position: fixed;
    z-index: 1000;
    display: none;
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
  }
}